header {
    height: 100px;
    z-index:1000;
    position: static;
    top: 0;
}

header .logo {
    margin-top: 10px;
}

header .wrap {
    height: 100%;
}

.wrap {
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1420px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.navbar-fixed-top {
    border-color: #e7e7e7;
    border-width: 0 0 1px;
    border-style: solid;
}

header nav {
    margin-top: 17px;
    float: right;
}

header nav ul {
    margin: 1em 0;
    padding: 0;
}

header nav ul li {
    display: block;
    float: left;
    margin-right: 20px;
}

header nav ul li a {
    font-weight: normal;
    font-size: 1.4em;
    padding: 10px 30px;
    color: #b1b1b1;
    text-decoration: none;
    border-radius: 24px;
}

header nav ul li a.contact {
    color: white;
    background-color: #e66a6a;
}

#top-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

#content {
    min-height: 300px;
    margin-top:100px;
}

footer {
    height: 300px;
    width: 100%;
}

footer .externalLinks {
    margin-top: 100px;
    float: left;
}

footer .externalLinks ul li {
    margin-right: 32px;
    display: inline-block;
}

footer .links {
    margin-top: 110px;
    float: right;
}

footer .links a {
    font-weight: normal;
    font-size: 1.4em;
    padding: 10px 30px;
    color: #b1b1b1;
    text-decoration: none;
    border-radius: 24px;
    color: #fff;
    background-color: #e66a6a;
}

footer .avatar {
    text-align:center;
}

footer .copyright {
    margin-top: 50px;
    text-align: center;
    color: #adadad;
}
