body {
  padding-top: 100px;
}

.navbar {
    height: 80px;
}

.navbar-default {
    background-color: #FFF;
}

.navbar-toggle {
    margin-top: 20px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #F9F9F9;
}

.navbar-collapse {
    margin: 20px 0;
    border-bottom: 1px solid;
    background-color: white;
}

.navbar-default .navbar-nav > li > a {
    font-size: 1.4em;
    border-radius: 24px;
    padding: 10px 16px;
}


.navbar-default .navbar-nav > li > a.activeSmall {
    color: #333333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: #eee;
}

.navbar-default .navbar-nav > li > a.contact {
    border-radius: 24px;
    color: #fff;
    background-color: #e66a6a;
    padding: 10px 30px;
}
.navbar-default .navbar-nav > li > a.contact:hover {
    background-color: #e66a6a;
    color: #eee;
}

.navbar-default .navbar-nav > li > a.contact.activeSmall {
    color: white;
    background-color: #7fd689;
}


@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
      color: #333333;
      background-color: transparent;
    }
}

#top-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

#footer {
	margin-top: 20px;
}

.externalLinks {
    text-align:center;
    margin: 73.5px 0;
}
.externalLinks ul {
    padding: 0;
    list-style: none;
}
.externalLinks ul li {
    margin-right: 5px;
    display: inline-block;
}

.links {
    text-align:center;
    margin: 86px 0;
}

.links a {
    font-weight: normal;
    font-size: 1.4em;
    padding: 10px 30px;
    color: #b1b1b1;
    text-decoration: none;
    border-radius: 24px;
    color: #fff;
    background-color: #e66a6a;
}

.links a.activeSmall {
    color: white;
    background-color: #7fd689;
}

.avatar {
    text-align:center;
}

.copyright {
    margin-top: 50px;
    text-align: center;
    color: #adadad;
}

/* mixitup */
.filterbutton > li {
    display: inline-block;
}
#worksgrid .mix{
    opacity: 0;
    display: none;
}


/* Contact Form */

::-moz-selection { background: #f8cc37; color: #4b2813; text-shadow: 0 2px 0 #fce653; }
::selection { background: #f8cc37; color: #4b2813; text-shadow: 0 2px 0 #fce653; }


.contact-us {
    background: #b2e2b8;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.contact-us h1 {
    color: #f8f8f8;
    text-transform: uppercase;
    line-height: 80px;
    text-align: center;
}

.contact-us .form-contols {
    padding: 0px 20px;
}

.contact-us input, .contact-us textarea {
    margin-bottom: 15px;
}

.contact-us textarea { 
    min-height: 100px;
    height: 100px;
    resize: vertical; 
}

.contact-us button {
    height: 70px;
    margin-top: 14px;
    padding: 0;
    background: #7fd689;
    border: 0;
    cursor: pointer;
    
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    line-height: 70px;
    text-align: center;

    -webkit-border-radius: 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius: 0px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contact-us button:hover {
    background: #e66a6a;
    color: white;
}

.contact-us input:focus,
.contact-us textarea:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-us input,
.contact-us textarea,
.contact-us button {
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.contact-us p {
    margin: 0 30px;
    padding-bottom: 30px;
    font-size: 15px;
    color: #cc9471;
    line-height: 30px;
}

.error {
    display: none;
    position: absolute;
    left: 390px;
    height: 44px;
    padding: 0 25px;
    background: #f8cc37;
    font-size: 15px;
    color: #4b2813;
    font-style: italic;
    line-height: 44px;
    white-space: nowrap;
    text-shadow: 0 2px 0 #fce653;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.error::before {
    content: '';
    position: absolute;
    top: 17px;
    left: -15px;
    border: 5px solid rgba(248, 204, 55, 0);
    border-right: 10px solid #f8cc37;
}
