<div class="row">
  <div class="col-md-3">
    <img src="images/matt.jpg" alt="..." class="img-thumbnail img-responsive">
  </div>
  <div class="col-md-5">
    <h2>developer and consultant</h2>
    <p>
      Hey guys, my name is Matt Neundorf also known as Nax. 
    </p>
  </div>
  <div class="col-md-4">
    <h4 class="text-center">Profile</h4>
    <dl class="dl-horizontal">
      <dt><span class="label label-info">Name</span></dt>
      <dd>M.R.W. Neundorf</dd>

      <dt><span class="label label-info">Shortname</span></dt>
      <dd>Matt aka Nax</dd>

      <dt><span class="label label-info">Age</span></dt>
      <dd>27</dd>

      <dt><span class="label label-info">E-Mail</span></dt>
      <dd>matt@nax.me</dd>

      <dt><span class="label label-info">Freelance</span></dt>
      <dd><span class="label label-danger">unavailable</span></dd>
    </dl>
    <h4 class="text-center">Skills (languages)</h4>
    <dl class="dl-horizontal">
      <div ng-repeat="skill in skills">
        <dt><span class="label label-info">{{ skill.name }}</span></dt>
        <dd>
          <div class="progress progress-striped">
            <div class="progress-bar" ng-class='progressBarType(skill.value)' role="progressbar" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ skill.value }}%">
              <span class="sr-only">{{ skill.value }}% Complete (success)</span>
            </div>
          </div>
        </dd>
      </div>
    </dl>
    <div class="text-center">
      <a href="/skills" class="btn btn-default">view all my skills</a>
    </div>
  </div>
</div>
