<div class="row">
  <div class="col-md-3">
    <!--<img src="images/matt/matt.jpg" alt="..." class="img-thumbnail img-responsive">-->
    <div id="matt-images" class="carousel slide" data-ride="carousel">
      <!-- Indicators
      <ol class="carousel-indicators">
        <li data-target="#matt-images" data-slide-to="{{ mattimage-1 }}" class="" ng-repeat="mattimage in mattimages" ng-class="($index==0)? 'active' : ''"></li>
      </ol>
       -->
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item" ng-repeat="mattimage in mattimages" ng-class="($index==0)? 'active' : ''" style="text-align: center;">
          <img ng-src="images/matt/matt-{{ mattimage }}.jpg" alt="Matt" style="display: block;margin-left: auto;margin-right: auto;">
          <div class="carousel-caption"></div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#matt-images" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#matt-images" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="page-header">
        <h1>Naxmeify <small>See who i am</small></h1>
        <p>
          Hey guys, my name is Mohammed RW Neundorf also known as Matt or Nax. 
          <br>
          On this website I will show you <a href="/cv">who I am</a>, my <a href="/skills">skills</a> and the <a href="/works">projects</a> I have worked.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="page-header">
        <h2>Consultant and developer</h2>
      </div>
      <p>
        My job is to assist companies or individuals in software projects. 
        I got a wide range of knowledge in different parts of software development.
      </p>
    </div>
    <div class="row">
      <div class="page-header">
        <h2>Open Source</h2>
        <p>
          I am contributing to many open source projects. View my profile on 
          <a href="https://github.com/Naxmeify">GitHub</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h4 class="text-center">Profile</h4>
    <dl class="dl-horizontal">
      <dt><span class="label label-info">Name</span></dt>
      <dd>M.R.W. Neundorf</dd>

      <dt><span class="label label-info">Shortname</span></dt>
      <dd>Matt aka Nax</dd>

      <dt><span class="label label-info">Age</span></dt>
      <dd>28</dd>

      <dt><span class="label label-info">E-Mail</span></dt>
      <dd>matt@nax.me</dd>

      <dt><span class="label label-info">Freelance</span></dt>
      <dd><span class="label label-success">available</span></dd>
    </dl>
    <h4 class="text-center">Skills (languages)</h4>
    <dl class="dl-horizontal">
      <div ng-repeat="skill in skills">
        <dt><span class="label label-info">{{ skill.name }}</span></dt>
        <dd>
          <div class="progress progress-striped">
            <div class="progress-bar" ng-class='progressBarType(skill.value)' role="progressbar" aria-valuenow="{{ skill.value }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ skill.value }}%">
              <span class="sr-only">{{ skill.value }}% Complete (success)</span>
            </div>
          </div>
        </dd>
      </div>
    </dl>
    <div class="text-center">
      <a href="/skills" class="btn btn-default">view all my skills</a>
    </div>
  </div>
</div>
