<div class="row">
  <div class="col-md-9">
    <div class="row" ng-repeat="skillarea in skillareas">
      <h3 id="skill_{{ $index }}">{{ skillarea.name }}</h3>
      <dl class="dl-horizontal" ng-repeat="skill in skillarea.items | filter: searchText">
          <dt><span class="label label-info">{{ skill.name }}</span></dt>
          <dd>
            <div class="progress progress-striped">
              <div class="progress-bar" ng-class='progressBarType(skill.value)' role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ skill.value }}%">
                <span class="sr-only">{{ skill.value }}% Complete (success)</span>
              </div>
            </div>
          </dd>
      </dl>
    </div>
  </div>
  <div class="col-md-3">
    <div class="sidebar hidden-print hidden-xs hidden-sm affix" style="padding-left: 20px;">
      <div class="row">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search...">
      </div>
      <div class="row">
        <ul class="nav">
          <li ng-repeat="skillarea in skillareas">
            <a href="" scroll-to="skill_{{ $index }}">{{ skillarea.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>