<section id="work">
  <ul class="filterbutton">
    <li class="filter" data-filter="all"><a href="" class="btn btn-default">Show all</a></li>
    <li class="filter" data-filter="{{ type }}" ng-repeat="type in types"><a href="" class="btn btn-default">{{ type }}</a></li>
  </ul>

  <ul id="worksgrid">
    <li class="mix" ng-class="work.types" ng-repeat="work in works">
      <img ng-src="{{ work.image }}" alt="" class="img-thumbnail" width="150" data-toggle="modal" data-target="#work_{{ $index }}">
      <!-- Modal -->
      <div class="modal fade" id="work_{{ $index }}" tabindex="-1" role="dialog" aria-labelledby="work_{{ $index }}Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="work_{{ $index }}Label">{{ work.name }}</h4>
            </div>
            <div class="modal-body">
              {{ work.description }}
            </div>
            <div class="modal-footer">
              <div class="pull-left">
                <button type="button" class="btn btn-default" data-toggle="modal" data-dismiss="modal" data-target="#work_{{ $index-1 }}" ng-show="!$first">
                  <!-- <i class="glyphicon glyphicon-backward"></i> --> Previos
                </button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-dismiss="modal" data-target="#work_{{ $index+1 }}" ng-show="!$last">
                  Next <!-- <i class="glyphicon glyphicon-forward"></i> -->
                </button>
              </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </li>
  </ul>
</section>