<div class="container" id="footer">
	<div class="row">
		<div class="col-md-4">

		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
			<h5>Naxmeify</h5>
            <p>
                Hi guys, my name is Matt. I am 28 years old and live in germany.
                <br>
                I am a software developer. Web, mobile, desktop. I like to develop
                for all targets. Business, Games, Industrie or whatever.
                <br>
                On this page i am going to blog about software developing and 
                other awesome stuff (like my favourite food... xD).
            </p>
		</div>
		<div class="col-md-6">
		    <p>&nbsp;</p>
		    <h5>All open stuff under MIT</h5>
		    Year 2006. I started to publish open source software under
		    the beerware license. Yeah...i like beer ;-)
		    But stay cool guys. All my open source stuff will be <strong>MIT</strong>...
		    <br>
		    That doesn't mean that you mustn't buy me a beer xD if u wanna u can! 
		    And believe it or not. I'll become happy and develop more awesome stuff
		    like...a digital beer box xD?
		</div>
	</div>
    <div class="row">
        <div class="col-md-4">
            <div class="externalLinks">
                <ul>
                    <li><a class="webicon youtube large" href="http://www.youtube.com/naxdevvlog">YouTube</a></li>
                    <li><a class="webicon github large" href="https://github.com/Naxmeify">Github</a></li>
                    <li><a class="webicon twitter large" href="https://twitter.com/Naxmeify">Twitter</a></li>
                    <li><a class="webicon googleplus large" href="https://plus.google.com/104422916304341747149" rel="publisher">Google+</a></li>
                    <li><a class="webicon soundcloud large" href="https://soundcloud.com/Naxmeify">Soundcloud</a></li>
                    <li><a class="webicon deviantart large" href="http://naxmeify.deviantart.com/">DeviantArt</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="avatar">
                <img src="https://avatars1.githubusercontent.com/u/5736450?v=3&s=460" alt=""><!-- {{ '/images/avatar.png' | prepend: site.baseurl }} -->
            </div>
        </div>
        <div class="col-md-4">
          <div class="links">
              <a href="http://nax.me/sonea/">sonea</a>
              <a href="https://github.com/Naxmeify/hogd">hogd</a>
              <a href="https://github.com/Naxmeify/Gamer">Gamer</a>
              <a href="https://github.com/Naxmeify/Scripts">Useful Scripts</a>
              <a href="https://github.com/Naxmeify/mairae">mairae</a>
          </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="copyright">Copyright &copy; 2013-2014 Nax(meify) - M. R. W. Neundorf</div>
</div>
