<div class="container" id="footer">
	<div class="row">
		<div class="col-md-4">

		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
    <div class="row">
        <div class="col-md-4">
            <div class="externalLinks">
                <ul>
                    <li><a class="webicon youtube large" href="http://www.youtube.com/naxmeify">YouTube</a></li>
                    <li><a class="webicon github large" href="https://github.com/Naxmeify">Github</a></li>
                    <li><a class="webicon twitter large" href="https://twitter.com/Naxmeify">Twitter</a></li>
                    <li><a class="webicon googleplus large" href="https://plus.google.com/104422916304341747149" rel="publisher">Google+</a></li>
                    <li><a class="webicon soundcloud large" href="https://soundcloud.com/Naxmeify">Soundcloud</a></li>
                    <li><a class="webicon deviantart large" href="http://naxmeify.deviantart.com/">DeviantArt</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="avatar">
                <img src="images/avatar.png" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="links">
                <a id="quoteBtn" href="#!/contact" ng-class="{activeSmall:part=='contact'}">request a quote</a>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="copyright">Copyright &copy; 2013-2014 Nax(meify) - M. R. W. Neundorf</div>
</div>