<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
          <h1 class="text-hide hidden">{{ site.title }}</h1>
          <img class="img-responsive" src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="Naxmeify Logo">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        {% for page in site.pages %}
          {% if page.title and page.nav %}
          <li><a href="{{ page.url | prepend: site.baseurl }}" ng-class="{activeSmall:part=='home'}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <!--<li><a href="/" ng-class="{activeSmall:part=='home'}">home</a></li>-->
        <!--<li><a href="/skills" ng-class="{activeSmall:part=='skills'}">my skills</a></li>-->
        <!--<li><a href="/works" ng-class="{activeSmall:part=='works'}">my works</a></li>-->
        <!--<li><a href="/cv" ng-class="{activeSmall:part=='cv'}">my cv</a></li>-->
        <!--<li><a href="http://naxmeify.tumblr.com" target="_blank">my blog</a></li>-->
        <!--<li><a href="/contact" class="contact" ng-class="{activeSmall:part=='contact'}">contact me</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div id="top-shadow"></div>
