---
layout: default
title: Skills
nav: true
permalink: /skills/
weight: 50
---
<section id="skills">
  <div class="col-md-12">
    <input type="text" class="form-control" placeholder="Skill search..." id="skillsFilter" />
  </div>
  <div class="clearfix margin-bottom"></div>
  {% for skill in site.data.skills %}
    <div class="row">
      <h3>{{ skill.group }}</h3>
      
        {% for tech in skill.techs %}
          <div class="col-md-3 col-sm-4 col-xs-12 item">
            <strong class="name">{{ tech[0] }}</strong>
            {% assign progressbar_value = tech[1] %}
            {% include _progressbar.html param=progressbar_value %}
          </div>
        {% endfor %}
    </div>
  {% endfor %}
</section>
