---
layout: default
title: Skills
nav: true
permalink: /skills/
weight: 50
---
<section id="skills">
  <div class="col-md-12">
    <input type="text" class="form-control" placeholder="Search..." id="skillsFilter" />
  </div>
  <div class="clearfix margin-bottom"></div>
  {% for skill in site.data.skills %}
    
    <div class="col-md-3 col-sm-4 col-xs-12 skill">
      <strong class="name">{{ skill[0] }}</strong>
      {% assign progressbar_value = skill[1] %}
      {% include _progressbar.html param=progressbar_value %}
    </div>
  {% endfor %}
</section>
